@import url(https://fonts.googleapis.com/css?family=Borel);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-family: 'Borel';
}


h2 {
  font-family: 'Josefin Sans';
}

.galleryDividers {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.galleryBody {
  margin: auto;
}

.itemTitle {
  font-family: 'Josefin Sans';
}

.imagebox {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 5px 2px 5px;
  background-color: #000000;
  max-width: 300px;
}

/* Doesnt Work - react overrides */
/* Button {
  background-color: #000000;
} */

.description {
  margin-top: 20px;
  font-family: cursive;
}

.card {
  float: left;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 15px 40px 250px 40px;
  background-color: #fff;
  max-width: 350px;
  max-height: 390px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}